.btn {
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
    font-size: var(--size-sm);
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px var(--color-primary-shadow),
        0 6px 6px var(--color-primary-shadow),
        0 0 100px -10px var(--color-primary);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px var(--color-primary-shadow),
        0 10px 10px var(--color-primary-shadow),
        0 0 120px -10px var(--color-primary);
}

/* xs */
@media (min-width: 475px) {
    .btn {
        font-size: var(--size-base);
    }
}

/* lg */
@media (min-width: 1024px) {
    .btn {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .btn {
        font-size: var(--size-xl);
    }
}