p {
    max-width: 60ch; /* 1ch equal to the width of the "0" character of the font type (aim to 20% more)*/
    font-size: var(--size-sm);
    color: var(--color-slate-600);
}

/* xs */
@media (min-width: 475px) {
    p {
        font-size: var(--size-base);
    }
}

/* lg */
@media (min-width: 1024px) {
    p {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1280px) {
    p {
        font-size: var(--size-xl); 
    }
}

@media (min-width: 1536px) {
    p {
        font-size: var(--size-2xl);
    }
}