.work {
    text-align: center;
}

.project:not(:last-child) {
    margin-bottom: 5rem;
}

.title {
    font-size: var(--size-2xl);
    color: var(--color-light);
}

.description {
    margin: 1rem auto;
}

/* Todo: Refactor with useQuery */
.projectTitle {
    font-size: var(--size-base);
    margin-bottom: 1rem;
}

.projectTitleGrid {
    display: none;
}

.projectDescription {
    margin: 1rem 0;
}

.projectDetails {
    color: var(--color-slate-400);
    margin-bottom: 1rem;
}

/* xs */
@media (min-width: 475px) {
    .title {
        font-size: var(--size-3xl);
    }

    .description {
        margin: 1.5rem auto;
    }

    .projectTitle {
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }

    .projectDescription {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }

    .projectDetails {
        font-size: var(--size-base);
        margin-bottom: 1.5rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'image1 content1'
            'content2 image2'
            'image3 content3'
            'content4 image4';
        place-items: center;
    }

    .image1 {
        grid-area: image1;
    }

    .image2 {
        grid-area: image2;
    }

    .image3 {
        grid-area: image3;
    }

    .image4 {
        grid-area: image4;
    }

    .project {
        padding: 0 1rem;
    }

    .projectTitle {
        display: none;
    }

    .projectTitleGrid {
        display: block;
        font-size: var(--size-base);
    }

    .projectDescription {
        font-size: var(--size-xs);
        margin: 1em 0;
    }

    .projectDetails {
        font-size: var(--size-xs);
        margin-bottom: 1em;
    }

    .project:not(:last-child) {
        margin-bottom: 0;
    }
}

/* md */
@media (min-width: 768px) {
    .projectTitleGrid {
        font-size: var(--size-lg);
    }

    .projectDescription {
        font-size: var(--size-sm);
    }

    .projectDetails {
        font-size: var(--size-sm);
    }
}

/* lg */
@media (min-width: 1024px) {
    .title {
        font-size: var(--size-4xl);
    }

    .projectTitleGrid {
        font-size: var(--size-xl);
    }

    .projectDescription {
        font-size: var(--size-base);
    }
    
    .projectDetails {
        font-size: var(--size-base);
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .title {
        font-size: var(--size-5xl);
    }

    .projectDescription {
        font-size: var(--size-lg);
    }
    
    .projectDetails {
        font-size: var(--size-lg);
    }

    .projectTitleGrid {
        font-size: var(--size-2xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        width: 70%;
    }
}